#change_data {
	margin-top: 100px;
	margin-left: 60px;
	float: left;
}

#change_data button {
	width: 200px;
	height: 50px;
}

#data_table {
	width: 800px;
	border: 1px solid black;
	margin-left: 20px;
}

#data_table th {
	height: 50px;
}

#data_table, th, td{
	border: 1px solid black;
}

#data_table td {
	padding-left: auto;
	padding-right: auto;
}

#well_list {
	padding-left: 25px;
}

#rig_list {
	padding-left: 25px;
	width: 1200px;
}

#rig_data {
	width: 30%;
	/*border: 1px solid black;*/
	padding-left: 10px;
	margin: 5px;
}

#box {
	margin-top: 50px;
	/*margin-left: 50px;*/
  	margin-right: auto;
  	padding: 10px;
	padding-left: 20px;
	width: 400px;
	border-radius: 25px;
	background-color: #cccccc;
}

#table_container {
	margin: 5px;
	float: left;
}

	/* tell the SVG path to be a thin blue line without any area fill */
path {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

#header {
	background-color: #dddddd;
	padding: 2px;
	margin-top: 10px;
	/*border-style: double;*/
	border-bottom: 2px double black ;

}

#layout {
	margin-left: 40px;
	margin-right: 40px;
	height: 100%;
}

img {
	width: 400px;
}

.picButton {
	margin-bottom: 20px;
}

#well_list{
	width: 200px;
	position: absolute;
	float: left;
	/*border: 1px solid black;*/
}

#googleMap {
	width: 80%;
	height: 600px;
	/*background-color: grey;*/
	position: absolute;

}

#links {
	width: 80%;
}

#map {
	position: relative;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10px;
}



#col1 {
	position: absolute;
	width: 300px;
	margin-left: 0px;
	margin-top: 20px;
	background-color: #eeeeee;
	border: 1px solid black;
}

#col2 {
	position: absolute;
	width: 300px;
	margin-left: 400px;
	margin-top: 20px;
	background-color: #eeeeee;
	border: 1px solid black;

}

#col3 {
	position: absolute;
	width: 300px;
	margin-left: 800px;
	margin-top: 20px;
	background-color: #eeeeee;
	border: 1px solid black;
}

#col4 {
	position: absolute;
	width: 300px;
	margin-left: 1200px;
	margin-top: 20px;
	background-color: #eeeeee;
	border: 1px solid black;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

div #charts{
	border: 1px solid black;
}


















