<h2>Register</h2>
<form action="/users" method="POST">
	First name:<br>
	<input type="text" name="user[first_name]" placeholder="First Name"><br>
	Last name:<br>
	<input type="text" name="user[last_name]" placeholder="Last Name"><br>
	Email:<br>
	<input type="email" name="user[email]" placeholder="Email"><br>
	Password:<br>
	<input type="password" name="user[password]" placeholder="password"><br><br>
	<input type="submit" value="Register">
</form>