
<div id="pics">
	<div>
		<img class="rotate" id="one" src="/pics/rig1.jpg">
	</div>

	<div>
		<img class="pic" id="two" src="/pics/rig2.jpg">
	</div>

	<div>
		<img class="pic" id="three" src="/pics/rig3.jpg">
	</div>

	<div>
		<img class="pic" id="four" src="/pics/rig4.jpg">
	</div>

	<div>
		<img class="pic" id="five" src="/pics/rig5.jpg">
	</div>
</div>

