<div id="header_partial">
  <ul>
    <li><a href="/">Home</a></li>
    
    <!-- if a user is logged in then give option to log out -->
    <% if current_user %>
      <li><a href="/sessions/<%= current_user.id %>">Log out</a></li>
      <div id="welcome">
        <li><%= "Welcome #{current_user.first_name} #{current_user.last_name}" %></li>
      </div>
    <% else  %>
      <li><a href="/users/new">Register</a></li>
          
      <% if @errors %>
        <% @errors.each do |error_msg| %>
          <%= error_msg %>
        <% end %>
      <% end %>

      <div id="login">
        <li><a id="login_link" href="/sessions">Log in</a></li>
      </div>

    <% end %>
  </ul>
</div>