<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/nvd3.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript" src="/js/maps.js"></script>
  <script type="text/javascript" src="http://beneposto.pl/jqueryrotate/js/jQueryRotateCompressed.js"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="/js/nv.d3.js"></script>
  <script src="https://d3js.org/d3-axis.v1.min.js"></script>

  <script src="/js/graphs.js"></script>
  <script src="/js/application.js"></script>
  <script type="text/javascript" src="/js/rotate.js"></script>
  

  <title>GWD</title>
</head>
<body id="layout">
  <div id="header">
    <%= erb :_header %>
  </div>

  <div id="main">
    <div id="title">
      <h1>Geothermal Well Display</h1>
    </div>

    <%= yield %>
    
  </div>
</body>


</html>
