<form action="/rigs" method="post">
	<h2>Enter a drill rig into the database</h2>
	<label for="inputRigName">Rig Name</label>
	<input name="rig[name]" type="text" placeholder="Rig Name"><br>
	<label for="inputCompany" >Company</label>
	<input name="rig[company]" type="text" placeholder="Comapany">
	<br>
	<label for="inputSize" >Size/Type</label>
	<input name="rig[size_type]" type="text" placeholder="Size/type">
	<br>
	<button type="submit">Enter Data</button>
</form